# переменные окружения
*.env

# python кэш
__pycache__/
*.py[cod]

# виртуальные окружения
.env/
.venv/
.venv310/
venv310/
venv/
env/
ENV/

# IDE (PyCharm)
.idea/

# лог файлы и отладка
*.log

# mypy, pytest, coverage
.mypy_cache/
.pytest_cache/
.cache
.coverage

# файлы pip и build
build/
dist/
*.egg-info/

*.tmp
*.bak