# переменные окружения
*.env

# python кэш
__pycache__/
*.py[cod]

# виртуальные окружения
**/venv*/
**/.venv*/
**/env*/
**/ENV*/

# IDE (PyCharm)
.idea/

# лог файлы и отладка
logs/
*.log

# mypy, pytest, coverage
.mypy_cache/
.pytest_cache/
.cache/
.coverage

# файлы pip и build
build/
dist/
*.egg-info/

# файлы с данными
*.parquet
*.csv
etl/data/output*.xlsx

*.tmp
*.bak
